:root {
    --color-principal: rgb(39, 56, 64);
    --color-black: rgb(0, 0, 0);
    --color-gray: rgb(90, 90, 90); 
    --color-white: rgb(255, 255, 255);
    --color-orange: rgb(255, 115, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    background-image: url("img/tienda01.jpeg");
}

h2{
    margin: 5% auto 5vh auto;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1vh;
    color: var(--color-white);
    background-color: var(--color-principal);
}
h3{
    margin: 0px auto;
    font-size: 1.8vw;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.1vh;
    line-height:6vh;
    color: var(--color-white);
}

.cabecera{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
}
.logo{
    width: 60%;
}
.adorno{
    width: 60%;
    opacity: 0.5;
    overflow: hidden;
}

/* ********************* NAV ****************** */
nav{
    width: 100%;
    background-color: var(--color-black);
}
.menu{
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5%;
    
}
nav ul li a {
    font-size: 1.2vw;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
}

a:hover {
    text-decoration: none;
    color: var(--color-gray);
}

/* ********************* SECTION 1 ****************** */

section{
    width: 100%;
}
        /* ----------- titulares ----------- */
.titular{
    width: 100%;
    background-color: var(--color-principal);
}
.titular-texto{
    width: 70%;
    padding: 2.5vh 0px;
    margin: 0px auto;
}

        /* ----------- texto y foto ----------- */
.textoyfoto{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.texto1{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: start;
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: left;
}
.indent{
    text-align: left;
    text-indent: 2vw;
}
.textoyfoto img{
    width:100%;
}
.imagenesmini{
    width: 100%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.imagenesmini  img{
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 10px 10px var(--color-gray);
}

/* ********************* SECTION SERVICIOS ****************** */

.servicios{
    width: 60%;
    margin: 0px auto 30%;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: 1 / span 2;
}
.b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
}
.c {
    grid-column: 1 ;
    grid-row: 2 ;
}
.d {
    grid-column: 2 ;
    grid-row: 2 ;
}

.listas{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 5vh;;
}
dt{
    font-size: 1.6vw;
    font-weight: 500;
    color: var(--color-gray);
    text-align: left;
}
dd{
    font-size: 1.6vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: left;
    text-indent: 1.2vw;
}


/* ********************* SECTION CONTACTO ****************** */

.contacto{
    width: 60%;
    margin: 0px auto 30%;
}
.contenedorContacto{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    row-gap: 7vh;
    text-align: center;
    color: var(--color-principal);
}
.contenedorContacto img{
    width: 5vh;
}
.contenedorContacto p{
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: center;
}
.contenedorContacto p span{
    font-weight: 500;
}
.redesContacto a{
    text-decoration: none;
}

.map{
    width: 70%;
    margin: 7vh auto 0vh auto;
    text-align: center;
}
.map iframe{
    width: 100%;
    margin-bottom: 3vh;
    box-shadow: 5px 5px 20px var(--color-gray);
}


/* ********************* FOOTER ****************** */
footer {
    width: 100%;
    background-color: var(--color-principal);
}

.pie{
    width:100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
}
.pie div{
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-white);
    padding: 2%;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-items: center;
}

.redes a{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: end;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
}

.redes img{
    width: 1.1vw;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-right: 0.1vw;
    margin-left: 0.1vw;
}

.redes a:hover, .redesContacto a:hover {
    text-decoration: none;
    opacity: 0.6;
}