:root {
    --color-principal: rgb(39, 56, 64);
    --color-black: rgb(0, 0, 0);
    --color-gray: rgb(90, 90, 90); 
    --color-white: rgb(255, 255, 255);
    --color-orange: rgb(255, 115, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
}

h2{
    margin: 5% auto 5vh auto;
    font-size: 1.8vw;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1vh;
    color: var(--color-white);
    background-color: var(--color-principal);
}
h3{
    margin: 0px auto;
    font-size: 1.8vw;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1vh;
    line-height:5vh;
    color: var(--color-white);
}

.cabecera{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    align-items: center;
    background-color: var(--color-white);
}
.logo{
    width: 60%;
}
.adorno{
    width: 100%;
    opacity: 0.5;
    overflow: hidden;
}

/* ********************* NAV ****************** */
nav{
    width: 100%;
    background-color: var(--color-black);
}
.menu{
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5%;
    
}
nav ul li a {
    font-size: 1.2vw;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
}

a:hover {
    text-decoration: none;
    color: var(--color-gray);
}

/* ********************* SECTION 1 ****************** */

section{
    width: 100%;
}
        /* ----------- titulares ----------- */
.titular{
    width: 100%;
    background-color: var(--color-principal);
}
.titular-texto{
    width: 70%;
    padding: 2.5vh 0px;
    font-weight: 200;
    margin: 0px auto;
}

        /* ----------- texto y foto ----------- */
.textoyfoto{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.texto1{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: start;
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: left;
}
.indent{
    text-align: left;
    text-indent: 2vw;
}
.imagenesmini{
    width: 100%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    column-gap: 5%;
}
.imagenesmini  img{
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(90, 90, 90, 0.5);
    object-fit: cover;
}
.imagenesmini  img:hover{
    filter: brightness(80%);
}    
.cuerpo img{
    width:100%;
}

/* ********************* SECTION SERVICIOS ****************** */

.servicios{
    width: 60%;
    margin: 0px auto 10%;
}
.pruebaBanner img{
    width:100%;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    border: 2px solid gray;
    background-color: #444;
    border-radius: 5px;
    overflow:hidden;
}

.a {
    grid-column: 1 / span 2;
    height: 50vh;
    object-fit: cover;
}
.a img{
    width: 100%;
    border-radius: 5px;
}
.b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
}
.b img{
    width: 50%;
    border-radius: 5px;
}
.c {
    grid-column: 1 ;
    grid-row: 2 ;
}
.c img{
    width: 50%;
    border-radius: 5px;
}
.d {
    grid-column: 2 ;
    grid-row: 2 ;
}
.d img{
    width: 50%;
    border-radius: 5px;
}

.listas{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 5vh;;
}
dt{
    font-size: 1.6vw;
    font-weight: 500;
    color: var(--color-gray);
    text-align: left;
}
dd{
    font-size: 1.6vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: left;
    text-indent: 1.2vw;
}


/* ********************* SECTION CONTACTO ****************** */

.contacto{
    width: 60%;
    margin: 0px auto 20%;
}
.contenedorContacto{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    row-gap: 7vh;
    text-align: center;
    color: var(--color-principal);
}
.contenedorContacto img{
    width: 5vh;
}
.contenedorContacto p{
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-gray);
    text-align: center;
}
.contenedorContacto p span{
    font-weight: 500;
}
.redesContacto a{
    text-decoration: none;
}

.map{
    width: 70%;
    margin: 7vh auto 0vh auto;
    text-align: center;
}
.map iframe{
    width: 100%;
    margin-bottom: 3vh;
    box-shadow: 5px 5px 20px var(--color-gray);
}


/* ********************* FOOTER ****************** */
footer {
    width: 100%;
    background-color: var(--color-principal);
}

.pie{
    width:100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
}
.pie div{
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--color-white);
    padding: 2%;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-items: center;
}

.redes a{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: end;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
}

.redes img{
    width: 1.1vw;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-right: 0.1vw;
    margin-left: 0.1vw;
}

.redes a:hover, .redesContacto a:hover {
    text-decoration: none;
    opacity: 0.6;
}




@media screen and (max-width: 640px) {
    body {
      /* background: blue; */
    }
    h2{
        margin: 5% auto 2% auto;
        font-size: 4vw;
    }
    h3{
        font-size: 3.5vw;
        line-height:3vh;
    }
    .cabecera{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items:center;
        align-items: center;
        background-color: var(--color-white);
    }
    .logo{
        width: 20%;
    }
    .adorno{
        display: none;
    }

    /* ********************* NAV ****************** */
    .menu{
        width: 60%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        list-style: none;
        padding: 0.5%;
        
    }
    .menu{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 3%;
    }
    nav ul li a {
        font-size: 3vw;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        color: var(--color-white);
    }
    
    /* ********************* SECTION 1 ****************** */
    .titular-texto{
        width: 100%;
    }
    .titular-texto h3{
        width: 90%;
        font-weight: 200;
    }
        /* ----------- texto y foto ----------- */

    .textoyfoto{
        grid-template-columns: 1fr;
    }
    .texto1{
        margin-top: 2vh;
        width: 90%;
        height: 50vh;
        align-content: space-evenly;
        align-items: start;
        font-size: 3.5vw;
        font-weight: 400;
    }
    .imagenesmini{
        margin: 5% auto;
    }
    .imagenesmini  img{
        border-radius: 5px;
    }  
    .cuerpo img{
        width:100%;
    }

    /* ********************* SECTION SERVICIOS ****************** */

    /* ********************* SECTION SERVICIOS ****************** */

    .servicios{
        width: 100%;
    }
    .pruebaBanner{
        width: 95%;
        margin: 0px auto;
    }
    .wrapper {
        width: 95%;
        margin: 0px auto;
        display: block;
    }
    .box {
        margin: 0px auto 4px auto;
        border: 0px solid gray;
    }
    
    .a {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .a img{
        width: 100%;
        border-radius: 5px;
    }
    .b {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .b img{
        width: 100%;
        border-radius: 5px;
    }
    .c {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .c img{
        width: 100%;
        border-radius: 5px;
    }
    .d {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .d img{
        width: 100%;
        border-radius: 5px;
    }

    .listas{
        width: 70%;
        display:block;
        margin: 2% auto;
    }
    dt{
        font-size: 4vw;
    }
    dd{
        font-size: 3.5vw;
    }

    /* ********************* SECTION CONTACTO ****************** */



















  @media screen and (min-width: 640px) and (max-width: 1280px) {
    body {
      background: /* red */;
    }
    nav ul li a {
        font-size: 1.5vw;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        color: var(--color-white);
    }
  }

  @media screen and (min-width: 1280px) {
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: nowrap;
        font-family: 'Roboto', sans-serif;
        /* background-color: green;
        background-color: var(--color-white); */
    }
    .cabecera{
        width: 80%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        justify-items:center;
        align-items: center;
    }
    .logo{
        width: 60%;
    }
    .a2{
        width: 100%;
        opacity: 0.5;
        overflow: hidden;
    }
  }